.instructions{
    text-align: right;
}


.a{
    border: 1px solid black;
    max-height: 20vh;
    margin-top: 20vh;
}

.buttons{
    display: inline-block;
    padding: 50px 50px;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; 
    margin-top: 50vh;
}

.buttonscontainer{
    text-align: center;
}

.green{
    background-color: #4CAF50; 
}

.green-clicked  {
    background-color:#117311;
    box-shadow: 10px 10px 8px #888888; 
    transform: translateY(1px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 5s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(.75);
		box-shadow: 10 10 8 0px #117311;;
	}

	70% {
		transform: scale(1);
		box-shadow: 10 10 8 0px #117311;;
	}

	100% {
		transform: scale(.75);
		box-shadow: 10 10 8 0px #117311;;
	}
}

.red{
    background-color: red; 
}

.red-clicked{
  background-color:rgb(178, 5, 5);
  transform: translateY(1px);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
      transform: scale(.75);
      box-shadow: 10 10 8 0px #117311;;
  }

  70% {
      transform: scale(1);
      box-shadow: 10 10 8 0px #117311;;
  }

  100% {
      transform: scale(.75);
      box-shadow: 10 10 8 0px #117311;;
  }
}


.yellow{
    background-color: yellow; 
}

.yellow-clicked{
    background-color: #d6cb00; 
    transform: translateY(1px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 5s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(.75);
		box-shadow: 10 10 8 0px #117311;;
	}

	70% {
		transform: scale(1);
		box-shadow: 10 10 8 0px #117311;;
	}

	100% {
		transform: scale(.75);
		box-shadow: 10 10 8 0px #117311;;
	}
}

.blue{
    background-color: blue; 
}

.blue-clicked{
    background-color: #0019d3; 
    transform: translateY(1px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 5s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(.75);
		box-shadow: 10 10 8 0px #117311;;
	}

	70% {
		transform: scale(1);
		box-shadow: 10 10 8 0px #117311;;
	}

	100% {
		transform: scale(.75);
		box-shadow: 10 10 8 0px #117311;;
	}
}


